<app-navbar/>

<div class="about-container wrapper">
    <div class="about-item">
        <div class="column">
            <p class="description">Kabo Lee is a designer living and working in Amsterdam (NL). With a multidisciplinary approach and wide-ranging media, she translates extensive research into visual concepts. Kabo is especially interested in meaningful and thoughtful design that engages and influences. She is constantly looking for new ways to reach people with design, often resulting in mixed media outcomes with a strong typographic character.</p>
        </div>
        <div class="grey-placeholder">
            <img src="/images/About/kabolee.png" class="carousel-image" alt="carousel-image" />
        </div>
    </div>
</div>

<app-footer/>