.about-container {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.about-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.grey-placeholder {
    width: 35%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.title {
    margin: 0;
    position: relative;
    top: -7px;
}

.description {
    margin: 0;
}

@media only screen and (max-width: 1400px) {
    .grey-placeholder {
        width: 40%;
    }
    
    .column {
        width: 60%;
    }
}

@media only screen and (max-width: 750px) {
    .about-item {
        flex-direction: column;
    }

    .grey-placeholder {
        width: 100%;
    }
    
    .column {
        width: 100%;
    }
}