.about-container {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.about-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.grey-placeholder {
    width: 45%;
    height: 500px;
    background-color: rgb(156, 156, 156);
}

.column {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.title {
    margin: 0;
    position: relative;
    top: -7px;
}

.description {
    margin: 0;
}