<app-navbar />

<div class="illustration-container wrapper">
    <div class="column column-1">
        @for (illustration of columnOneIllustrations; track $index) {
            <div class="carousel">
                @for (imageUrl of illustration.imageGroup; track $index) {
                    <div class="carousel-item w-full">
                        <img [src]="imageUrl" class="w-full"
                            alt="Tailwind CSS Carousel component" />
                    </div>
                }
            </div>
        }
    </div>
    
    <div class="column column-2">
        @for (illustration of columnTwoIllustrations; track $index) {
            <div class="carousel">
                @for (imageUrl of illustration.imageGroup; track $index) {
                    <div class="carousel-item w-full">
                        <img [src]="imageUrl" class="w-full"
                            alt="Tailwind CSS Carousel component" />
                    </div>
                }
            </div>
        }
    </div>

    <div class="column column-3">
        @for (illustration of columnThreeIllustrations; track $index) {
            <div class="carousel">
                @for (imageUrl of illustration.imageGroup; track $index) {
                    <div class="carousel-item w-full">
                        <img [src]="imageUrl" class="w-full"
                            alt="Tailwind CSS Carousel component" />
                    </div>
                }
            </div>
        }
    </div>
</div>

<app-footer/>