.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: var(--default-padding);
    padding-bottom: 60px;
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
    gap: var(--default-padding);
}

@media only screen and (min-width: 100px) {
    .nav-item {
        font-size: 0.6em;
    }
}

@media only screen and (min-width: 230px) {
    .nav-item {
        font-size: 0.8em;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 400px) {
    .nav-item {
        font-size: 1.2em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav-item {
        font-size: 1.8em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav-item {
        font-size: 2.3em;
    }
}

