.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: var(--default-padding);
    padding-bottom: 60px;
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
    gap: var(--default-padding);
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav-item {
        font-size: 1.2em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav-item {
        font-size: 1.8em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav-item {
        font-size: 2.3em;
    }
}

