.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: var(--default-padding);
    padding-bottom: 60px;
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
    gap: var(--default-padding);
    
}

.nav-item {
    font-size: 2.3em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav-item {
        font-size: 1.2em;
    }
}