.design-container {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.design-item {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media only screen and (max-width: 992px) {
        flex-direction: column;
    }
}

.grey-placeholder {
    width: 72%;
    aspect-ratio: 2000/1333;

    @media only screen and (max-width: 992px) {
        width: 100%;
    }
}

.column {
    display: flex;
    flex-direction: column;
    width: 35%;

    @media only screen and (max-width: 992px) {
        width: 100%;

        margin-bottom: 50px;
    }
}

.title {
    margin: 0;
    position: relative;
    top: -7px;
}

.description {
    margin: 0;
}

