<app-navbar/>

<!-- <h1>Hi my name is Kabo Lee</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, laudantium quis corporis omnis autem cumque eum nulla sunt id, culpa dolore laboriosam vero quas nihil atque, ipsa quam totam eveniet.</p>
<img src="../../../assets/images/kabo-lee.jpeg" alt="Kabo-Lee">
 -->

 <div class="design-container">
    <div class="design-item">
        <div class="grey-placeholder"></div>
        <div class="column">
            <h1 class="title">Title Work</h1>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, atque totam? Sequi voluptas natus necessitatibus, ex labore cupiditate, magni provident maxime qui iste id ipsa praesentium cumque vel blanditiis porro!</p>
        </div>
    </div>

    <div class="design-item">
        <div class="grey-placeholder"></div>
        <div class="column">
            <h1 class="title">Title Work</h1>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, atque totam? Sequi voluptas natus necessitatibus, ex labore cupiditate, magni provident maxime qui iste id ipsa praesentium cumque vel blanditiis porro!</p>
        </div>
    </div>

    <div class="design-item">
        <div class="grey-placeholder"></div>
        <div class="column">
            <h1 class="title">Title Work</h1>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, atque totam? Sequi voluptas natus necessitatibus, ex labore cupiditate, magni provident maxime qui iste id ipsa praesentium cumque vel blanditiis porro!</p>
        </div>
    </div>
 </div>