.design-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.design-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.grey-placeholder {
    width: 65%;
    height: 500px;
    background-color: rgb(156, 156, 156);
}

.column {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.title {
    margin: 0;
    position: relative;
    top: -7px;
}

.description {
    margin: 0;
}