<app-navbar/>

 <div class="design-container">
    <div class="design-item">
        <div class="grey-placeholder"></div>
        <div class="column">
            <h1 class="title">Title Work</h1>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, atque totam? Sequi voluptas natus necessitatibus, ex labore cupiditate, magni provident maxime qui iste id ipsa praesentium cumque vel blanditiis porro!</p>
        </div>
    </div>

    <div class="design-item">
        <div class="grey-placeholder"></div>
        <div class="column">
            <h1 class="title">Title Work</h1>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, atque totam? Sequi voluptas natus necessitatibus, ex labore cupiditate, magni provident maxime qui iste id ipsa praesentium cumque vel blanditiis porro!</p>
        </div>
    </div>

    <div class="design-item">
        <div class="grey-placeholder"></div>
        <div class="column">
            <h1 class="title">Title Work</h1>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, atque totam? Sequi voluptas natus necessitatibus, ex labore cupiditate, magni provident maxime qui iste id ipsa praesentium cumque vel blanditiis porro!</p>
        </div>
    </div>
 </div>

 <app-footer/>