.design-container {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.design-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.grey-placeholder {
    width: 72%;
}

.carousel-item {
    position: relative;
    width: 100%;
    padding-top: 66.65%; 
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.column {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.title {
    margin: 0;
    position: relative;
    top: -7px;
    line-height: 1.2;
}

.description {
    margin: 0;
}

@media only screen and (max-width: 992px) {
    .design-item {
        flex-direction: column;
    }

    .grey-placeholder {
        width: 100%;
    }

    .column {
        width: 100%;
        margin-bottom: 50px;
    }
}


