<app-navbar />

<div class="design-container wrapper">
    @for (design of designs; track $index) {
    <div class="design-item">
        <swiper-container class="carousel grey-placeholder"
            loop="true" 
            navigation="true"
            speed="500" 
        >
            @for (imageUrl of design.imageGroup; track $index) {
            <swiper-slide class="carousel-item">
                <img [src]="imageUrl" class="carousel-image" alt="carousel-image" />
            </swiper-slide>
            }
        </swiper-container>
        <div class="column">
            <h1 class="title">{{ design.title }}</h1>
            <p class="description" [innerHTML]="design.description"></p>
        </div>
    </div>
    }
</div>

<app-footer />