/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --default-padding: 15px;
    --swiper-navigation-color: #fff;
}

body {
    margin-top: 130.2px; 
}
html *
{
   font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
}

.wrapper {
    margin-left: var(--default-padding);
    margin-right: var(--default-padding);
    margin-bottom: var(--default-padding);
    min-height: 100vh;
}

h1 {
    font-weight: 400;
    font-size: 2.3em;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

















